.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
  min-height: 0;
}

.sidebar {
  flex: 1;
  overflow: auto;
  width: 20dvw;
  min-width: 110px;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  border-right: 1px solid grey;
}

.nav-link {
  padding: 0.9rem 1.5rem;
  text-decoration: none;
  color: black;
}

.nav-link.active {
  background-color: lightgrey;
  font-weight: 600;
}

.nav-link:hover {
  background-color: darkgrey;
}

.pokemon_list {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  padding: 3.5rem 3rem;
  overflow: scroll;
}

.pokemon_card {
  border: 1px solid black;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.pokemon_card img {
  width: 100%;
  padding: 2rem;
}

.pokemon_card article {
  padding: 1rem 1.5rem;
  border-top: 1px solid black;
}
