.layout {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  height: 100%;
}

.sidebar {
  flex: 1;
  overflow: auto;
  width: 20dvw;
  min-width: 110px;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  border-right: 1px solid grey;
}

.nav-link {
  padding: 0.9rem 1.5rem;
  text-decoration: none;
  color: black;
}

.nav-link.active {
  background-color: lightgrey;
  font-weight: 600;
}

.nav-link:hover {
  background-color: darkgrey;
}
