.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  display: flex;
  flex: 1;
  min-height: 0;
}

.sidebar {
  flex: 1;
  overflow: auto;
  width: 20dvw;
  min-width: 110px;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  border-right: 1px solid grey;
}

.nav-link {
  padding: 0.9rem 1.5rem;
  text-decoration: none;
  color: black;
}

.nav-link.active {
  background-color: lightgrey;
  font-weight: 600;
}

.nav-link:hover {
  background-color: darkgrey;
}

.pokemon_content {
  flex: 1;
  overflow: scroll;
  padding-bottom: 3.5rem;
}

.pokemon_content::-webkit-scrollbar {
  display: none;
}

.search_bar {
  margin: 3rem 3rem 0;
}

.pokemon_list {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  padding: 3.5rem 3rem;
  overflow: scroll;
}

.pokemon_list::-webkit-scrollbar {
  display: none;
}

.pokemon_card {
  position: relative;
  border: 1px solid black;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.pokemon_card .favorite {
  position: absolute;
  right: 0;
}

.pokemon_card img {
  width: 100%;
  padding: 2rem;
}

.pokemon_card article {
  padding: 1rem 1.5rem;
  border-top: 1px solid black;
}

.pokemon_details {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.pokemon_details > div {
  position: relative;
  height: 88dvh;
  width: 75dvw;
  margin: 6vh auto;
  background-color: white;
  border: 1px solid black;
  overflow-y: scroll;
}

.pokemon_details > div::-webkit-scrollbar {
  display: none;
}

.pokemon_details header {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.pokemon_details_description {
  display: flex;
  gap: 10rem;
  align-items: center;
  padding: 1rem 2rem;
}

.pokemon_details_images {
  position: relative;
  width: 25%;
  margin-left: 25px;
}

.pokemon_details_images .favorite {
  position: absolute;
  top: 0;
  right: -25px;
}

.pokemon_details_slider button::before {
  color: red !important;
}

.pokemon_details_slider .slick-dots {
  bottom: 0;
}

.pokemon_details_description > div > *:not(:last-child) {
  margin-bottom: 1rem;
}

.pokemon_details_types {
  display: flex;
  gap: 1rem;
}

.pokemon_details_types button {
  background-color: red;
}

.pokemon_details_stats {
  display: flex;
  gap: 4rem;
  padding: 1rem 2rem;
}

.pokemon_details_stats > * {
  width: 50%;
}

.pokemon_details_base_stats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.pokemon_details_base_stats div {
  display: flex;
  align-items: center;
  gap: 3;
}

.pokemon_details_moves {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem 1.5rem;
  margin-top: 1rem;
}
